.dropdown{
    margin: 100px auto;
    position: relative;
    display: inline-block;
    
}

.drop-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3498DB;
    border-radius: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    padding: 10px;
    text-decoration: none;
    /* display: block; */
}

.dropdown-content{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content .dropdown-item{
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 3px;
}
.dropdown-content .dropdown-item:hover{
    background-color: #bbb;
}
.dropdown.open .dropdown-content{
    display: block;
}